Repository anarculture/dale-v.3.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dale-team/developers, @dale-team/frontend-developers, @dale-team/backend-developers, @dale-team/devops, @dale-team/docs

chore: push changes to main
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/main.py
  dev.sh
  frontend/src/lib/api.ts
Owners: @dale-team/backend-developers, @dale-team/devops, @dale-team/frontend-developers

feat: Add runtime checks for essential environment variables and refactor API client for lazy instantiation.
  backend/app/middleware/__pycache__/auth.cpython-312.pyc
  backend/app/middleware/auth.py
  frontend/src/lib/api.ts
Owners: @dale-team/backend-developers, @dale-team/frontend-developers

chore: Add API base URL placeholder for Next.js prerendering and update reputation system spec with detailed booking state definitions for rating eligibility.
  frontend/src/lib/api.ts
  specs/010-reputation-system.md
Owners: @dale-team/frontend-developers, @dale-team/docs

feat: add DalePriceSelector and DaleTimeSelector components, update ride forms
  .github/workflows/test.yml
  frontend/src/app/rides/[id]/edit/page.tsx
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/components/ui/DalePriceSelector.tsx
  frontend/src/components/ui/DaleTimeSelector.tsx
  frontend/src/components/ui/index.ts
  frontend/tsconfig.tsbuildinfo
Owners: @dale-team/devops, @dale-team/frontend-developers

refactor: replace print statements with logging for application lifecycle messages
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/main.py
Owners: @dale-team/backend-developers

feat: Conditionally disable FastAPI documentation endpoints in production environments and remove redundant pytest installation from the CI workflow.
  .github/workflows/test.yml
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/main.py
Owners: @dale-team/devops, @dale-team/backend-developers

refactor: Improve Supabase client initialization to throw runtime errors for missing environment variables and simplify build-time dummy client responses.
  frontend/src/lib/supabase.ts
Owners: @dale-team/frontend-developers

feat: Add Procfile and update Dockerfile CMD for dynamic port configuration and corrected app path.
  backend/Dockerfile
  backend/Procfile
Owners: @dale-team/devops, @dale-team/backend-developers

fix: allow @tailwindcss/oxide and esbuild build scripts, add logo, update nav components
  frontend/public/logo.png
  frontend/src/components/layout/DesktopTopNav.tsx
  frontend/src/components/ui/DaleLogo.tsx
  frontend/src/components/ui/UserAvatarMenu.tsx
  tier-2-audit-report.md
Owners: @dale-team/frontend-developers, @dale-team/docs

fix: resolve setState-in-effect error and replace img with next/image
  frontend/src/components/ui/DaleTimeSelector.tsx
  frontend/src/components/ui/UserAvatarMenu.tsx
Owners: @dale-team/frontend-developers

fix: use exec form CMD with sh -c to ensure PORT variable expansion on Railway
  backend/Dockerfile
Owners: @dale-team/devops

.github/CODEOWNERS:

# Global owners
* @dale-team/developers

# Frontend
/frontend/ @dale-team/frontend-developers
/frontend/src/ @dale-team/frontend-developers
/frontend/public/ @dale-team/frontend-developers
/frontend/*.js @dale-team/frontend-developers
/frontend/*.ts @dale-team/frontend-developers
/frontend/*.json @dale-team/frontend-developers
/frontend/*.config.* @dale-team/frontend-developers

# Backend
/backend/ @dale-team/backend-developers
/backend/*.py @dale-team/backend-developers
/backend/requirements.txt @dale-team/backend-developers
/backend/Dockerfile @dale-team/backend-developers

# CI/CD
/.github/ @dale-team/devops
/.github/workflows/ @dale-team/devops

# Documentation
*.md @dale-team/docs
/docs/ @dale-team/docs

# Docker
Dockerfile* @dale-team/devops
docker-compose* @dale-team/devops
*.sh @dale-team/devops

# Configuration files
.env* @dale-team/devops
.eslintrc* @dale-team/frontend-developers
/tsconfig.json @dale-team/frontend-developers
/tailwind.config.js @dale-team/frontend-developers
/postcss.config.js @dale-team/frontend-developers
