Repository anarculture/dale-v.3.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dale-team/developers, @dale-team/frontend-developers, @dale-team/backend-developers, @dale-team/devops, @dale-team/docs

Remove workflows temporarily - user needs to configure GitHub Actions permissions
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  .github/workflows/spec-gate.yml
Owners: @dale-team/devops

Fix backend configuration robustness
  backend/main.py
  backend/requirements.txt
Owners: @dale-team/backend-developers

Revert "Improve backend Supabase configuration resilience"
  backend/main.py
  backend/requirements.txt
Owners: @dale-team/backend-developers

fix: resolve Vercel build/function conflict
  vercel.json
Owners: @dale-team/developers

fixed deployment script
  AGENTS.md
  deploy.sh.save
Owners: @dale-team/docs, @dale-team/developers

chore: update frontend deps and ignores
  .gitignore
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  install.sh
Owners: @dale-team/developers, @dale-team/frontend-developers, @dale-team/devops

Configure Supabase, fix dev script, and update dependencies
  .gitignore
  backend/requirements.txt
  dev.sh
  frontend/package-lock.json
  frontend/package.json
  requirements.txt
  supabase/.gitignore
  supabase/config.toml
Owners: @dale-team/developers, @dale-team/backend-developers, @dale-team/devops, @dale-team/frontend-developers

feat: Implement MVP frontend flows (Auth, Offer, Search, Bookings) with HeroUI Design System
  PROJECT_STATUS.md
  PROJECT_STATUS.pdf
  Plan de Proyecto_ Plataforma de Carpooling “BlaBlaCar Venezuela” (Spec-Driven Development).pdf
  dale_ide_instructions.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/bookings/page.tsx
  frontend/src/app/design-system/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/offer/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/rides/[id]/page.tsx
  frontend/src/app/rides/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/SignupForm.tsx
  frontend/src/components/bookings/BookingCard.tsx
  frontend/src/components/bookings/BookingList.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/DBottomNav.tsx
  frontend/src/components/layout/DHeader.tsx
  frontend/src/components/layout/DPageSection.tsx
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/components/rides/RideCard.tsx
  frontend/src/components/rides/RideList.tsx
  frontend/src/components/rides/RideSearchForm.tsx
  frontend/src/components/ui/DAlert.tsx
  frontend/src/components/ui/DBadge.tsx
  frontend/src/components/ui/DButton.tsx
  frontend/src/components/ui/DCard.tsx
  frontend/src/components/ui/DEmptyState.tsx
  frontend/src/components/ui/DFormField.tsx
  frontend/src/components/ui/DIconButton.tsx
  frontend/src/components/ui/DInput.tsx
  frontend/src/components/ui/DSelect.tsx
  frontend/src/components/ui/DSpinner.tsx
  frontend/src/components/ui/DTextarea.tsx
  frontend/src/components/ui/index.ts
  frontend/tailwind.config.ts
  stop.sh
Owners: @dale-team/docs, @dale-team/developers, @dale-team/frontend-developers, @dale-team/devops

feat: Add environment management scripts, integrate API client with authentication, and improve frontend forms and routing.
  backend/main.py
  check_env.py
  dev.sh
  frontend/src/app/layout.tsx
  frontend/src/app/offer/page.tsx
  frontend/src/components/auth/ForgotPasswordForm.tsx
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/components/rides/RideCard.tsx
  frontend/src/components/ui/DInput.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
  update_env.py
Owners: @dale-team/backend-developers, @dale-team/developers, @dale-team/devops, @dale-team/frontend-developers

feat(pwa): complete PWA configuration with enhanced metadata
  DALE_STATUS_TRACKER.md
  PROJECT_MANAGEMENT_FRAMEWORK.md
  frontend/public/apple-touch-icon.png
  frontend/public/manifest.json
  frontend/src/app/layout.tsx
Owners: @dale-team/docs, @dale-team/frontend-developers

chore: update UI context, PWA assets and add lighthouse reports
  UI_Context.md
  frontend/assets/DALE_icon.png
  frontend/assets/favicon.png
  frontend/public/icons/icon-192.png
  frontend/public/icons/icon-512.png
  frontend/public/sw.js
  frontend/src/app/icon.png
  frontend/tailwind.config.ts
  lighthouse-report.report.html
  lighthouse-report.report.json
Owners: @dale-team/docs, @dale-team/frontend-developers, @dale-team/developers

feat(ui): update offer page with premium responsive styling and venezuelan cities
  frontend/next-env.d.ts
  frontend/public/sw.js
  frontend/src/app/offer/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/rides/CityAutocomplete.tsx
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/components/rides/RideForm.tsx
  frontend/src/components/rides/RideList.tsx
  frontend/src/components/rides/RideSearchForm.tsx
Owners: @dale-team/frontend-developers

feat(ui): implement Agrandir font, updated Auth screens, and Dale branding
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-GrandHeavy.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-GrandLight.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-Narrow.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-Regular.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-TextBold.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-ThinItalic.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-Tight.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-WideBlackItalic.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Agrandir-WideLight.otf
  frontend/Agrandir Font Family/Agrandir - Free For Personal Use/Personal-license-agreement
  frontend/public/fonts/Agrandir-GrandHeavy.otf
  frontend/public/fonts/Agrandir-GrandLight.otf
  frontend/public/fonts/Agrandir-Narrow.otf
  frontend/public/fonts/Agrandir-Regular.otf
  frontend/public/fonts/Agrandir-TextBold.otf
  frontend/public/fonts/Agrandir-ThinItalic.otf
  frontend/public/fonts/Agrandir-Tight.otf
  frontend/public/fonts/Agrandir-WideBlackItalic.otf
  frontend/public/fonts/Agrandir-WideLight.otf
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/auth/ForgotPasswordForm.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/SignupForm.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/rides/RideForm.tsx
  frontend/src/components/ui/DaleLogo.tsx
  frontend/src/components/ui/index.ts
Owners: @dale-team/frontend-developers

feat(ui): add prominent login button to homepage
  frontend/src/app/page.tsx
Owners: @dale-team/frontend-developers

feat(ui): implement full-screen responsive date picker
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/components/rides/RideSearchForm.tsx
  frontend/src/components/ui/FullScreenDatePicker.tsx
Owners: @dale-team/frontend-developers

fix(ui): confine date picker to form card on desktop
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/components/rides/RideSearchForm.tsx
  frontend/src/components/ui/FullScreenDatePicker.tsx
Owners: @dale-team/frontend-developers

feat(ui): redesign desktop date picker with single-month navigation
  frontend/src/components/ui/FullScreenDatePicker.tsx
Owners: @dale-team/frontend-developers

docs: update project management docs and finalize UI refinements
  DALE_STATUS_TRACKER.md
  PROJECT_MANAGEMENT_FRAMEWORK.md
  PROJECT_STATUS.md
Owners: @dale-team/docs

Redesign auth flow: login first, protected welcome screen with avatar menu
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/src/app/home/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/auth/RequireAuth.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/ui/UserAvatarMenu.tsx
  frontend/src/components/ui/index.ts
Owners: @dale-team/frontend-developers

feat: user role unification and backend modularization
  backend/app/main.py
  backend/app/models/schemas.py
  backend/app/routes/rides.py
  backend/main.py
  backend/test_api.py
  backend/tests/conftest.py
  frontend/public/favicon.png
  frontend/src/app/home/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/offer/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/lib/api.ts
  specs/005-user-role-unification.md
  specs/006-backend-architecture.md
Owners: @dale-team/backend-developers, @dale-team/frontend-developers, @dale-team/docs

feat: Update authentication page styling to use theme tokens and add core project specification documents.
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/components/rides/RideCard.tsx
  frontend/src/components/rides/RideList.tsx
  frontend/src/components/rides/RideSearchForm.tsx
  frontend/src/components/ui/UserAvatarMenu.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.tsbuildinfo
  project_plan_full.txt
  specs/007-notifications-system.md
  specs/008-error-handling-standards.md
  specs/009-security-policies.md
  specs/010-reputation-system.md
Owners: @dale-team/frontend-developers, @dale-team/developers, @dale-team/docs

feat(mvp): Vital features for demo - Contact exchange, PWA icons, Seed data
  CHANGELOG.md
  PROJECT_STATUS.md
  add_phone_column.sql
  backend/app/models/schemas.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/icon-192.png
  frontend/public/icons/icon-512.png
  frontend/public/sw.js
  frontend/src/app/error.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/notifications/settings/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/rides/[id]/edit/page.tsx
  frontend/src/app/users/[id]/page.tsx
  frontend/src/components/bookings/BookingCard.tsx
  frontend/src/components/ui/Avatar.tsx
  frontend/src/components/ui/Switch.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/api.ts
  frontend/tsconfig.json
  generate_icons.py
  seed_demo.py
Owners: @dale-team/docs, @dale-team/developers, @dale-team/backend-developers, @dale-team/frontend-developers

chore: update frontend dependencies
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
Owners: @dale-team/frontend-developers

feat: Implement reviews, notifications, profile hydration and global nav
  SCRIPTS.md
  backend/app/main.py
  backend/app/models/schemas.py
  backend/app/routes/notifications.py
  backend/app/routes/reviews.py
  backend/app/routes/users.py
  backend/app/services/__init__.py
  backend/app/services/notifications.py
  dev.sh
  frontend/public/sw.js
  frontend/src/app/globals.css
  frontend/src/app/home/page.tsx
  frontend/src/app/loading.tsx
  frontend/src/app/offer/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/rides/page.tsx
  frontend/src/app/users/[id]/page.tsx
  frontend/src/components/bookings/BookingCard.tsx
  frontend/src/components/layout/DBottomNav.tsx
  frontend/src/components/ui/DSpinner.tsx
  frontend/src/components/ui/ReviewCard.tsx
  frontend/src/components/ui/StarRating.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/api.ts
  specs/011-gap-analysis.md
  start.sh
  supabase/migrations/20260126_add_ratings.sql
  supabase/migrations/20260202_add_notifications.sql
Owners: @dale-team/docs, @dale-team/backend-developers, @dale-team/devops, @dale-team/frontend-developers, @dale-team/developers

feat: Integrate notification service into booking and ride workflows and add tests
  backend/app/routes/bookings.py
  backend/app/routes/rides.py
  backend/tests/conftest.py
  backend/tests/test_notifications.py
  frontend/src/app/profile/page.tsx
Owners: @dale-team/backend-developers, @dale-team/frontend-developers

feat: Enhance desktop navigation and global loading states
  frontend/public/sw.js
  frontend/src/app/globals.css
  frontend/src/app/home/page.tsx
  frontend/src/app/offer/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/rides/page.tsx
  frontend/src/app/users/[id]/page.tsx
  frontend/src/components/auth/RequireAuth.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/DesktopTopNav.tsx
  frontend/src/components/rides/RideList.tsx
  frontend/src/components/ui/DSpinner.tsx
  frontend/src/components/ui/FullScreenLoader.tsx
  frontend/src/components/ui/index.ts
  frontend/tailwind.config.ts
Owners: @dale-team/frontend-developers

fix(vercel): set rootDirectory to frontend for correct Next.js build
  vercel.json
Owners: @dale-team/developers

revert: remove invalid rootDirectory from vercel.json
  vercel.json
Owners: @dale-team/developers

fix(deploy): update amondnet/vercel-action to v25 to fix zeit-token error
  .github/workflows/deploy.yml
  frontend/next-env.d.ts
  frontend/public/sw.js
Owners: @dale-team/devops, @dale-team/frontend-developers

fix(deploy): remove working-directory from vercel-action (handled by project settings)
  .github/workflows/deploy.yml
Owners: @dale-team/devops

fix(supabase): lazy-load client to fix static generation build errors
  frontend/src/lib/supabase.ts
Owners: @dale-team/frontend-developers

refactor(auth): use dynamic import for AuthProvider to fix SSG build
  frontend/src/app/layout.tsx
  frontend/src/lib/supabase.ts
Owners: @dale-team/frontend-developers

fix(auth): create Providers client component wrapper
  frontend/src/app/layout.tsx
  frontend/src/components/Providers.tsx
Owners: @dale-team/frontend-developers

fix: resolve ESLint errors and update outdated tests
  backend/tests/conftest.py
  backend/tests/test_examples.py
  backend/tests/test_main.py
  frontend/src/components/bookings/BookingCard.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/supabase.ts
Owners: @dale-team/backend-developers, @dale-team/frontend-developers

ci: enable manual workflow dispatch
  .github/workflows/deploy.yml
Owners: @dale-team/devops

chore: delete file
  .github/workflows/deploy.yml
Owners: @dale-team/devops

Trigger redeploy for env vars
  frontend/next-env.d.ts
  tatus
Owners: @dale-team/frontend-developers, @dale-team/developers

refactor: Update Supabase client initialization and Next.js service worker precached assets.
  frontend/next-env.d.ts
  frontend/public/sw.js
  frontend/src/lib/supabase.ts
Owners: @dale-team/frontend-developers

Remove environment variables from vercel.json.
  frontend/vercel.json
Owners: @dale-team/frontend-developers

fix(theme): Enforce white card backgrounds and resolve HeroUI theme conflicts
  frontend/next-env.d.ts
  frontend/src/app/home/page.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/notifications/settings/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/rides/OfferRideForm.tsx
  frontend/src/components/rides/RideCard.tsx
  frontend/src/components/rides/RideList.tsx
  frontend/src/components/rides/RideSearchForm.tsx
  frontend/src/components/ui/FullScreenDatePicker.tsx
  frontend/tailwind.config.ts
Owners: @dale-team/frontend-developers

.github/CODEOWNERS:

# Global owners
* @dale-team/developers

# Frontend
/frontend/ @dale-team/frontend-developers
/frontend/src/ @dale-team/frontend-developers
/frontend/public/ @dale-team/frontend-developers
/frontend/*.js @dale-team/frontend-developers
/frontend/*.ts @dale-team/frontend-developers
/frontend/*.json @dale-team/frontend-developers
/frontend/*.config.* @dale-team/frontend-developers

# Backend
/backend/ @dale-team/backend-developers
/backend/*.py @dale-team/backend-developers
/backend/requirements.txt @dale-team/backend-developers
/backend/Dockerfile @dale-team/backend-developers

# CI/CD
/.github/ @dale-team/devops
/.github/workflows/ @dale-team/devops

# Documentation
*.md @dale-team/docs
/docs/ @dale-team/docs

# Docker
Dockerfile* @dale-team/devops
docker-compose* @dale-team/devops
*.sh @dale-team/devops

# Configuration files
.env* @dale-team/devops
.eslintrc* @dale-team/frontend-developers
/tsconfig.json @dale-team/frontend-developers
/tailwind.config.js @dale-team/frontend-developers
/postcss.config.js @dale-team/frontend-developers
